doctype html
html
  head
    title. "Error"
    link(rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon")
    meta(name="viewport" content="initial-scale=1.0")
  body
    style.
      .wrap{font-size:20px;}
      .img{text-align:center;margin-top:128px;}
      .message{
        text-align:center;
      }
    div.container
      div.wrap
        div.img
          img(src="/pc/images/error.jpg")
        div.message
          p!=message
          p
            |Lease click the link back to the <a href="/">Home Page</a>
