extends ../layout/main
block stylesheet
  link(href="#{url_cdn}/mobile/css/user.css" rel="stylesheet")
block content
  div.container
    div.wrap.cpi_uinfo
      div.header
        a.icon.user.back(href="javascript:history.back(-1)")
        div.title= LangService.flat('mobile', "Complete information")
      
      div.content
        div.form
          div.field.flag
            div.flag
              i.icon.flag.cn
              span +886
            input(type="tel" placeholder="手机号")
          div.field
            button.submit#btnSubmitId 提交
          
block scripts
